node_modules/
public/js
public/css

/target
/checkouts
/src/gen
/src/cinemart/env.cljs
!.gitignore
.clj-kondo/cache
.clj-kondo/.cache
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.lsp

.hgignore
.hg/
