@tailwind base;
@tailwind components;
.btn {
  @apply inline-block px-1 py-2 rounded-sm;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-thumb {
  @apply rounded;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.slide-enter {
  transform: translateX(105%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit.slide-exit-active {
  transform: translateX(105%);
  transition: transform 300ms;
}

@tailwind utilities;
